{% extends "index.html" %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col">
            <div class='menu'>
                <form action="get">
                    <legend>Converter</legend>
    
                    <label for="video" class="form-label">URL do vídeo</label>
                    <input type="url" name="video" id="video" placeholder="https://youtube.com/ADsd6542132" class='form-control mb-3'>
                    <button class='btn btn-primary'>Baixar</button>
                    
                </form>
            </div>
        </div>
    </div>
</section>





{% endblock %}