{% extends "index.html" %}

{% block body %}
<section class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="menu">
                <form action="get" class="mt-2">
                    {{ formulario.csrf_token }}
                   
                    <legend>Música</legend>
                    
                    <fieldset>
                        <div class="form-group">
                            {{ formulario.musica.label(class='form-label') }}

                            {{ formulario.musica(class='form-control mt-2', placeholder='https://youtube.com/ADsd6542132') }}
                        </div>

                    </fieldset>
                            {{ formulario.botao (class='btn btn-md btn-primary mt-4')}}
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}